body{
    background-color: white;
    }

#wholeSection{
    position: relative;
    top: 20px;
    /* width: 960px; */
    /* height: 500px; */
    /* border: solid 1px red; */
    /* margin-left: 200px; */
    ;}

/* Game header text */
#gameHeadeText{
    position: relative;
    left: 40%;
    margin-top: -30px;
    width: 400px;
    right: 10%;
    color: lightseagreen;
    font-size: 30pt;
    background-color: white;}

/* Styled the About button */
#theAboutButton{
    position: relative;
    top:38px;
    left: 30px;
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

       
 #boardmessage{
    position: relative;
    top: 10px;
    width: 350px; 
    padding-top: 10px;
    padding-bottom: 10px;     
    background-color: white;
    font-size: 25px;
    color: lightseagreen;
    border: 1px solid;}

/* Game boxed styled */
.square{  
    position: relative;  
    height: 160px;
    width: 200px;
    font-size: 70pt;
    text-align: center;
    background-color: white;
    cursor: pointer;}

/* When hovered over a box */
.square:hover{
    background-color: lightgray;}

/* Input styling     */
input{
    color: lightseagreen;
    font-size: 20pt;
    size: 200px;}
    
#resetButton{
     width: 300px; 
     padding-top: 10px;
     padding-bottom: 10px;     
     background-color: white;
     font-size: 25px;
     margin-bottom: 100px;
     color: lightseagreen;
     border: 2px solid;
     border-radius: 25px;}

#resetButton:hover{
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
    

    @media only screen and (max-width: 768px) {


    #gameHeadeText{
        left: 10%;
        top: 46px;
        font-size: 20pt;
    }

    #boardmessage{
        width: 320px;
        border: 2px solid;
    }

    #wholeSection{
        position: relative;
        width: 90%;
        left: 5%;
        top: 60px;
        height: 100px;}

    .square{
        height: 100px;
        width: 100px;}

        /* #theAboutParagraph{
            display: none;
        } */

    #aboutTheParagraph{
        position: relative;
        width: 30%;
        font-size: 14pt;
        left: -32%;
        bottom: 75%;
        padding: 5%;
        color: white;
        background-color: lightseagreen
        }
        }
